<mat-sidenav-container class="navbar-container">
  <mat-sidenav opened mode="side">
    <button routerLink="/" mat-icon-button aria-label="Go to the homepage">
      <mat-icon>home</mat-icon>
    </button><br />
    <mat-divider></mat-divider>
    <div class="to-bottom">
      <mat-divider></mat-divider>
      <button routerLink="" (click)="openRegister()" mat-icon-button aria-label="Create a new account">
        <mat-icon>person_add</mat-icon>
      </button><br />
      <button routerLink="" (click)="openLogin()" mat-icon-button aria-label="Login into an existing account">
        <mat-icon>fingerprint</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
