.navbar-container {
  mat-sidenav {
    padding: 15px;
    width: auto;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.to-bottom {
  position: absolute;
  bottom: 0;
}

mat-icon {
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

mat-icon:hover {
  color: #0ed6d6;
}

.admin-area {
  color: #ff2727;
}

app-footer {
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 10%;
  background-color: rgb(55, 55, 55);
}

*:focus {
  outline: none;
}

.loading-overlay {
  position: fixed;
  top: 0;
  background-color: #373737;
  width: 115%;
  height: 100%;
  opacity: 0.925;
  text-align: center;
  z-index: 9999;
  font-size: 1em;
  mat-spinner {
    position: relative;
    margin: auto;
  }
}
