<mat-sidenav-container class="navbar-container">
  <mat-sidenav opened mode="side">
    <button routerLink="/" matTooltip="Home" matTooltipPosition="left" mat-icon-button aria-label="Go to the homepage">
      <mat-icon>home</mat-icon>
    </button><br />
    <button disabled routerLink="/" matTooltip="Shop (Coming soon)" matTooltipPosition="left" mat-icon-button aria-label="Shop (Coming soon)">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <div class="to-bottom">
      <mat-divider></mat-divider>
      <div *ngIf="!this.userService.isLoggedIn()">
        <button routerLink="register" matTooltip="Register" matTooltipPosition="left" mat-icon-button aria-label="Create a new account">
          <mat-icon>person_add</mat-icon>
        </button><br />
      </div>
      <div *ngIf="!this.userService.isLoggedIn()">
        <button routerLink="login" matTooltip="Login" matTooltipPosition="left" mat-icon-button aria-label="Login into an existing account">
          <mat-icon>fingerprint</mat-icon>
        </button><br />
      </div>
      <div *ngIf="this.userService.isLoggedIn()">
        <button (click)="this.userService.logout()" routerLink="logout" matTooltip="Logout" matTooltipPosition="left" mat-icon-button aria-label="Logout">
          <mat-icon>exit_to_app</mat-icon>
        </button><br />
      </div>
      <div *ngIf="this.userService.isLoggedIn()">
        <button routerLink="userdetails" matTooltip="Userdetails" matTooltipPosition="left" mat-icon-button aria-label="Change your userdata">
          <mat-icon>person</mat-icon>
        </button><br />
      </div>
      <div *ngIf="this.userService.isLoggedIn()">
        <button style="color: yellow; font-size: 11px;" matTooltip="You have {{this.userService.getMoney()}} Money" matTooltipPosition="left" mat-icon-button aria-label="Your money">
          {{this.userService.getMoney()}}<mat-icon>attach_money</mat-icon>
        </button><br />
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
