.navbar-container {
  mat-sidenav {
    padding: 15px;
    width: auto;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.to-bottom {
  position: absolute;
  bottom: 0;
}

mat-icon {
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

app-footer {
  bottom: 0;
}

mat-icon:hover {
  color: #0ed6d6;
}

.admin-area {
  color: #ff2727;
}

