@import '~@angular/material/theming';

@include mat-core();

$dark-primary: mat-palette($mat-blue, A700);
$dark-accent:  mat-palette($mat-cyan, A300);
$dark-warn:    mat-palette($mat-red, A700);

$dark-theme:   mat-dark-theme($dark_primary, $dark_accent, $dark_warn);

@include angular-material-theme($dark-theme);
