main {
  width: 60%;
  margin: 100px auto auto;
  text-align: center;
  font-size: 1.5em;
}

.join-button {
  margin: 50px;
  padding: 20px 80px;
  font-size: 1.3em;
}

.info-text {
  margin-bottom: 25px;
  line-height: 1.35em;
}

*:focus {
  outline: none;
}
