<div class="modal-header" style="background-color: #1f1f1f; color: white">
  <h1 class="modal-title">Change password of <u>{{ user.username }}</u></h1>
  <button type="button" style="color: white;" class="close" aria-label="Close" (click)="activeModal.dismiss(null)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="background-color: #1f1f1f; color: white">
  <form [formGroup]="this.form">
    <mat-form-field appearance="fill"  style="width: 100%;">
      <mat-label>Type in your old password</mat-label>
      <input formControlName="oldPassword" type="password" matInput required>
      <mat-error *ngIf="this.form.get('oldPassword').invalid">
        <span *ngIf="this.form.get('oldPassword').errors.required && this.form.get('oldPassword').dirty">You need to set this!</span>
        <span *ngIf="this.form.get('oldPassword').errors.minlength">You need to set at least 3 characters</span>
        <span *ngIf="this.form.get('oldPassword').errors.maxlength">You can just set 10 characters</span>
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill"  style="width: 100%;">
      <mat-label>Type in your new password</mat-label>
      <input formControlName="newPassword" type="password" matInput required>
      <mat-error *ngIf="this.form.get('newPassword').invalid">
        <span *ngIf="this.form.get('newPassword').errors.required && this.form.get('newPassword').dirty">You need set this!</span>
        <span *ngIf="this.form.get('newPassword').errors.minlength">You need to set at least 3 characters</span>
        <span *ngIf="this.form.get('newPassword').errors.maxlength">You can just set 10 characters</span>
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill"  style="width: 100%;">
      <mat-label>Repeat your new password</mat-label>
      <input formControlName="newPasswordRepeat" type="password" matInput required>
      <mat-error *ngIf="this.form.get('newPasswordRepeat').invalid">
        <span *ngIf="this.form.get('newPasswordRepeat').errors.required && this.form.get('newPasswordRepeat').dirty">You need to repeat your password</span>
        <span *ngIf="this.form.get('newPasswordRepeat').errors.minlength">You need to set at least 3 characters</span>
        <span *ngIf="this.form.get('newPasswordRepeat').errors.maxlength">You can just set 10 characters</span>
      </mat-error>
    </mat-form-field>
    <br />
    <button type='submit' style="background-color: limegreen; width: 100%; margin-top: 35px;" (click)="save()" mat-raised-button [disabled]="this.form.invalid">Save <mat-icon>save</mat-icon></button>
  </form>
</div>
