main {
  width: 85%;
  margin: 50px auto auto;
}

.user-details {
  display: flex;
  margin-bottom: 30px;
  .image {
    flex: 1;
    text-align: center;
    img {
      width: 350px;
      height: 350px;
      border-radius: 100%;
      box-shadow: black 2px 5px 10px;
      margin: 10px;
      transition: 1s;
    }
  }
  div {
    width: 100%;
    .hr-top {
      height: 7%;
      display: flex;
      h1 {
        flex: 1;
        justify-content: flex-start;
        font-size: 2.5em;
      }
      mat-chip-list {
        mat-chip {
          font-size: 1.8em;
        }
      }
    }

    .hr-bottom {
      display: flex;
      margin-left: 30px;
      .user-data {
        transition: 1s;
        h2 {
          display: inline-block;
          margin-top: 15px;
        }
        .statistic {
          display: inline-block;
          font-size: 1.3em;
          margin-bottom: 7px;
        }
        .data {
          display: inline-block;
          font-size: 1.5em;
          margin-bottom: 10px;
        }
      }

      .options {
        margin-top: 5%;
        text-align: right;
        margin-right: 8%;
        transition: 1s;
        button {
          margin-bottom: 15px;
        }
        .file-upload {
          display: flex;
        }
      }
    }

    hr {
      border: solid 1px white;
    }
  }
}

#picture {
  margin-top: 15px;
}


.first {
  background-color: #DAA520;
}

.second {
  background-color: #C0C0C0;
  color: black;
}

.third {
  background-color: #cc6633;
}

.other-rank {
  background-color: darkcyan;
}

*:focus {
  outline: none;
}

@media(max-width: 1040px) {
  .hr-bottom {
    flex-wrap: wrap;
  }
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0px;
  }
  input {
    margin-bottom: 35px;
  }
}

@media(max-width: 850px) {
  .user-details {
    flex-wrap: wrap;
  }
}

@media(max-width: 550px) {
  .user-details {
    .image {
    img {
      width: 200px;
      height: 200px;
    }
    }
  }
}

@media(max-width: 385px) {
  * {
    font-size: 0.96em;
  }
}
