main {
  width: 1500px;
  margin: auto;
}
.user-details {
  flex: 6;
  height: auto;
  margin: 40px;
}

.pw-change {
  flex: 3.5;
  height: 450px;
  margin: 40px;
}

.user-details-parent {
  display: flex;
  flex-wrap: wrap;
}

.user-details-inner-parent {
  display: flex;
  flex-wrap: wrap;
}

.user-details-inner-parent img {
  flex: 1;
  box-shadow: #222222 1px 1px 10px;
  border-radius: 30px;
}

.user-details-inner-parent mat-card {
  flex: 2;
  margin-left: 25px;
  box-shadow: #222222 1px 1px 4px;
  padding: 25px;
}

.user-details-inner-parent h1 {
  margin-bottom: 55px;
}

.pw-change-form {
  margin: 35px;
}


.pw-change-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.pw-change-full-width {
  margin-right: 25px;
  width: 84%;
}

*:focus {
  outline: none;
}
